*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;

    text-align: center;
}

.container{
display: flex;
justify-content: center;
align-items: center;

flex-wrap: wrap;
}

.card{
    width: 250px;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    
    }
    .card:hover{
   
    box-shadow: 2px 2px 10px rgb(192, 163, 163);
   
    }

.card img{
    width: 100%;

}

.card h2{
  margin-bottom: 13px;
  text-align: left;

}

.card p{
    text-align: left;

}
.price{
    color: green;
    margin-top: 4px;
}

.orderButton{
    width: 100%;
    margin: auto  ;
    padding: 10px;
   
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
    
}

.orderButton:hover{
    background-color: antiquewhite;

}


